



<app-nav/>



@if (0 >1){
<div class="">

  
  <!--<app-navbar class="header ">

  </app-navbar>-->
 <!-- <header class="header ">
 
  </header>-->

  <!--<app-sub-navbar>
        
  </app-sub-navbar>-->
  
  <div class="">
    <!--<app-sidebar></app-sidebar>-->
    <app-nav/>
    <div class="">
     <!-- <app-sub-navbar>
        
      </app-sub-navbar>-->
      <!--<app-main-content></app-main-content>-->
      <div class="">
         <!--<router-outlet />-->
      </div>
    </div>
  </div>
</div>
}