.sub-nav {
  display: flex; /* Usar flexbox para alinear horizontalmente */
  overflow: hidden; /* Ocultar el desbordamiento */

}


.navbarok {
  display: flex;
  align-items: center; /* Centra el contenedor dentro de la barra de navegación */
  padding: 10px;
  background-color:rgb(0,180,0); /* Ajusta el color según tus preferencias */
}


.navbarerror {
  display: flex;
  align-items: center; /* Centra el contenedor dentro de la barra de navegación */
  padding: 10px;
  background-color:rgb(180,0,0); /* Ajusta el color según tus preferencias */
}

.navbarwarn {
  display: flex;
  align-items: center; /* Centra el contenedor dentro de la barra de navegación */
  padding: 10px;
  background-color:rgb(200,200,0); /* Ajusta el color según tus preferencias */
}


.nav-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente el texto */
  margin: 0;
}



.navbar-content {
  display: flex;
  align-items: center;
  gap: 8px; /* Ajusta el espacio entre el texto y los botones */
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

h4 {
  margin: 0;
}

